.img-responsive {
  width: 100%;
  max-width: 150px;
  height: auto;
  display: block;
}

.clearance td{
  background-color: lightgray;
}

.my-btn-properties{
  background: red;
  border: none;
  color: white;
}
